html, body {
    background-color:#c3c3c3;
    text-align:center;
    font-family:Monospace;
    font-size: clamp(30px, 6vh, 35px);
    line-height: calc(.75em + 0.5vw);
    }
  
  body > div {
    background: #fff;
    padding: 1em;
    margin: 1em auto;
    border-radius: 1em;
    width: calc(clamp(12em, 2vw, 1em) * 2);
    box-shadow: 10px 10px grey;
    }
    
  body > div > hr {
    opacity:.25;
    width:75%;
    }
    
  body > hr {
    width:50vmax;
    opacity:.75
    }