html {
    background-color:#3c3c3c;
	overflow:auto;
}

body {
    font-family:monospace;
	image-rendering: pixelated;
	margin: auto;
    font-size: 1.25em;
    text-align: center;
	width: 100vw;
	height: 100vh;
	margin:0;
	overflow:auto;
    }
	
 body > hr {
    width:50vmax;
    opacity:.75
    }

.logo {
	min-height:100px;
	min-width:86px;
	max-height:100px;
	max-width:86px;
}

.header {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.content {
	background-color: white;
    padding: 1em;
    margin: auto;
	border-radius: 6px;
    box-shadow: 10px 10px #7F7F7F;
    text-align: center;
	color: black;
    text-decoration: none;
	width: clamp(35vw, 45vw, 75vw);
  }
  
 .content span{
	background-color:#c3c3c3;
	color:black;
 }
 
 .content hr {
    opacity:.25;
    width:75%;
    }
	
.update {
	opacity:.65;
}

#splash{
	opacity: .65;
}

#splash img {
	width:32px;
}

#art img {
  min-width: 100px;
  min-height: 100px;
  max-width: 150px;
  max-height: 150px;
  box-shadow: 10px 10px #7F7F7F;
  text-align: center;
  padding:5px;
  }

#top {
  display: none;
  position: fixed;
  bottom: 5vh;
  right: 50vw;
  cursor: pointer;
  padding: 15px;
  z-index:99;
}