html {
	background: #c3c3c3;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	font-family: Courier New Bold, monospace;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	image-rendering: -webkit-optimize-contrast;
	font-size: 1em;
}

body,
html {
	font-family: Courier New Bold, monospace;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

* {
  transition: all ease-out .2s;
   }
   
.header {
	background: #c3c3c3;
	top: 0;
	height: 12vh;
	width: 100vw;
	z-index: 999;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	position: -webkit-sticky;
	position: sticky;
}

#intro {
	padding: 15px;
	display: flex;
	justify-content: center;
	cursor: progress;
	width: 100vw;
	height: 100vh;
}

#wrapper {
	display: none;
	background: #666;
	width: 100vw;
}

.spin {
	animation: spin 2s infinite linear;
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.nav {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	width: inherit;
	letter-spacing: 3px;
	font-size: 22px;
	padding: 0;
}

a {
	color: #5bd8d9;
}

.nav a {
	text-decoration: none;
	color: #3c3c3c;
	cursor: pointer;
}

.nav .active a {
	color: #000;
}

.nav .active a::before {
	margin-left: -19px;
	margin-top: 20px;
	content: '↑';
	position: absolute;
	transform: rotate(45deg);
}

#logo,
.logo {
	position: absolute;
	animation: swing 1s infinite;
	animation-iteration-count: 1;
	animation-play-state: paused;
	max-height: 96px;
  max-width: 96px;
  height: 100%;
}

#ham-nav {
	text-decoration: none;
  cursor: pointer;
  list-style: none;
  display: flex;
  padding: 1em 0 1em 0;
  margin: 0;
  overflow: auto;
}

#ham-nav li {
	padding: 0.5em;
  border-right: 1px solid #3c3c3c;
  width: 54%;
  text-align: center;
  background:#efefef;
}
#ham-nav li a {
  color: black;
  padding: 1em 25% 1em 25%;
  }

#tab-content {
	position: relative;
}

#home-tab {
	position: absolute;
	z-index: 4;
	background: rgba(0, 0, 0, .5);
	width: 100%;
	min-height: 100%;
	background: rgb(195 195 195 / 70%);
	padding-top: 1em;
}

#homepost {
	display: flex;
	flex-direction: column;
	padding: 2em;
	margin: auto;
	box-shadow: .5em .5em 2em #3c3c3c;
	position: -webkit-sticky;
	position: sticky;
	top: 20vh;
	background: #3c3c3c;
	color: #fff;
	height: 35vh;
	overflow: hidden;
}

#homepost img {
	margin-top: 1em;
	opacity: .5;
}

#homepost img:hover {
	opacity:1;
}

#homepost a {
	flex: 1;
	cursor: pointer;
	text-decoration: underline;
}

#homepost p {
	margin: auto 0;
}

#closehome:hover {
	background: #c34c4c;
}

#closehome {
	cursor: pointer;
	padding: 1em 1em;
	background: #c37c7c;
	color: #000;
	font-size: 1.15em;
	width: 5%;
	height: 5%;
	right: 5%;
	top: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.links {
	filter: invert(1);
	display: flex;
}

.links img {
	max-width: 100px;
}

@media screen and (min-width:0px) {
	.item {
		width: 100%;
		height: auto;
		aspect-ratio: 1/1;
	}
	#homepost {
		aspect-ratio: unset;
		width: unset;
	}
	.aboutpost .item {
		aspect-ratio: unset;
	}
	#item-image {
		width: 60%;
		height: auto;
	}
}

@media screen and (min-width:320px) {
	.item {
		width: 50%;
		height: auto;
		aspect-ratio: 1/1;
	}
	#item-image {
		width: 60%;
		height: auto;
	}
}

@media screen and (min-width:480px) {
	.item-image {
		width: 100%;
	}
	#item-image {
		width: 60%;
		height: auto;
	}
	#homepost {
		width: 50%;
	}
}

@media screen and (min-width:768px) {
	.item {
		width: 33.33333%;
		height: auto;
		aspect-ratio: 1/1;
	}
	#ham {
		display: none;
	}
	#ham-menu {
		display: none;
	}
	.aboutpost .item {
		aspect-ratio: unset;
	}
	#item-details {
	  padding-top: 8vh;
	  }
}

@media screen and (max-width:768px) {
	.nav {
		display: none;
	}
	#ham {
		cursor: pointer;
		display: block;
		margin-left: -75vw;
		font-size: 32px;
		padding: 1em;
	}
	#ham-menu {
		width: 100vw;
		position: -webkit-sticky;
		position: sticky;
		display: none;
		background: #c3c3c3;
		top: 13vh;
	}
	#item-popup {
		display: flex;
		box-shadow: .5em .5em 2em #3c3c3c;
		top: 12vh;
		overflow: auto;
		height: fit-content;
		width: 100%;
		flex-direction: column;
    align-items: center;
	}
	#item-details {
	  padding: none;
	  }
	#item-info {
		background: #c3c3c3;
    flex: .5;
    min-width: 100%;
    overflow-y: auto;
	}
	#item-x {
		height: 15%
	}
	#item-image {
		flex: 1;
    display: flex;
    width: 100%;
	}
	#item-image img {
	 width: 100%;
	 max-height: 35vh;
	}
	#full-video {
  width: 100%;
	max-height: 35vh;
	}
	#homepost {
	width: 85%;
	}
	#closehome {
	right: 15%;
	}
}

@media screen and (min-width:960px) {
	.item {
		width: 25%;
		height: auto;
		aspect-ratio: 1/1;
	}
}

@media screen and (min-width:1200px) {
	.item {
		width: 20%;
		height: auto;
		aspect-ratio: 1/1;
	}
	.aboutpost .item {
		aspect-ratio: unset;
	}
	#homepost {
		width: 35%;
	}
}

@media screen and (min-width:1600px) {
	.item {
		width: 16.66666%;
		height: auto;
		aspect-ratio: 1/1;
	}
}

#sort {
  background: #c3c3c3;
  display: flex;
  }
  
#sort-menu, #sort-menu2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: none;
  overflow-x: auto;
  }

#sort {
	width: 100%;
	justify-content: space-evenly;
	font-size: 1em;
	overflow-x: auto;
}

#sort-menu button, #sort-menu2 button {
  padding: 1em 4.666% !important;
  background: #666;
  color: #fff;
  }

#sort button, #sort-menu button, #sort-menu2 button {
	border: none;
	padding: 1em;
	cursor: pointer;
	font-family: Courier New Bold, monospace;
}

#sort-menu button.activebutton, #sort-menu2 button.activebutton, #sort-menu button:hover, #sort-menu2 button:hover {
  background: #3c3c3c;
  color: #fff;
}
#sort > button.activebutton,
#sort > button:hover {
	background: #666;
	color: #fff;
}

#sort button.activebutton::before {
	content: '↓';
	display: block;
	margin-top: 30px;
	margin-left: -12px;
	position: absolute;
	transform: rotate(-45deg);
	font-size: 22px;
	top: 0;
}

#sort-menu button.activebutton::before, #sort-menu2 button.activebutton::before {
  content: '↓';
  margin-top: -17px;
  margin-left: -13px;
  position: absolute;
  transform: rotate(-45deg);
  font-size: 22px;
  }

#full-gallery,
#gallery-tab {
	display: none;
	flex-wrap: wrap;
	align-items: center;
}

#gallery-tab .item:hover {
	opacity: 1;
	color: #ffc107;
	filter: invert(0);
	display: flex;
	justify-content: center;
}

.item {
	display: flex;
	position: relative;
}

#gallery-tab>div>iframe {
  width:100%;
  }

#alert {
  background: #ff3b3045;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.5em;
  color: white;
  }

content {
	position: absolute;
	color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

content button {
	position: absolute;
	width: 50%;
	height: 50%;
	box-shadow: .5em .5em 2em #3c3c3c;
	background: #3c3c3c;
	color: #fff;
}

content:hover {
	background: rgb(0, 0, 0, .75);
	color: #fff;
	transition: all ease-out .2s;
}

.item img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

#item-details {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	justify-content: center;
	background: rgb(195 195 195 / 85%);
	display: none;
}

#item-popup {
	display: flex;
	box-shadow: .5em .5em 2em #3c3c3c;
	position: -webkit-sticky;
	position: sticky;
	top: 12vh;
	background: #3c3c3c70;
	height: fit-content;
	width: 100%;
}

#full-video {
  width: 90%;
  margin: auto;
  height: 83vh;
  }

#item-image {
	flex: 1;
}

#item-image img {
	height: 83vh;
	aspect-ratio: 1/1;
	object-fit: scale-down;
	width: 100%;
}

#item-info {
	background: #c3c3c3;
	flex: .5;
	max-width: 25vw;
}

#item-info a {
	color: #3c769a;
}

#item-info ul>::before {
	content: '→';
	display: inline-flex;
	margin: .25em;
	align-items: center;
	font-size: 22px;
}

#dimensions,
#full,
#tag {
	float: right;
	margin-right: 10%;
}

#date,
#desc,
#links,
#medium {
	padding-left: 10%;
}

#desc {
	font-style: italic;
	max-width: 50%;
}

#medium::before {
	content: 'mediums used:';
	font-weight: 700;
}

#links,
#medium,
#tag {
	list-style: none;
	line-height: 1em;
}

#tag::before {
	content: 'tags:';
	font-weight: 700;
}

#links::before {
	content: 'links:';
	font-weight: 700;
}

#item-x {
	background: #a47676;
	width: 100%;
	height: 5vh;
	color: #3c3c3c;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	font-size: 1.5em;
}

#item-x:hover {
	background: #c34c4c;
}

#more-images {
	width: 100%;
	padding: 2.5vh 0 5vh 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.button {
	width: 35vw;
	padding: 3em;
	text-align: center;
	background: #c3c3c3;
	box-shadow: .5em .5em 2em #3c3c3c;
}

.viewbutton {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1em;
  background: rgb(0,0,0,0);
  color: transparent;
  }
  
.viewbutton:hover {
  color: white;
  background: rgb(0,0,0,0.75);
  transition: all ease-out 200ms;
  }

#aboutpost {
	padding: 1em;
  background: #c3c3c3;
}

#aboutpost hr {
	width: 25%;
}

#aboutpost h3 {
  font-size: 2em;
  }
  
#aboutpost p {
  font-size: 1.15em;
  }

#aboutpost a {
  color: #3c769a;
  cursor: pointer;
  } 

#aboutpost div {
	margin: auto;
	text-align: center;
}

#about-tab,
#gallery-tab,
#home-tab,
#speps-tab {
	display: none;
}

#speps-tab {
  text-align: center;
  font-size: 2em;
  background: #c3c3c3;
  padding-top: 25%;
  }

@keyframes swing {
	20% {
		transform: rotate3d(0, 0, 1, 15deg);
	}
	40% {
		transform: rotate3d(0, 0, 1, -10deg);
	}
	60% {
		transform: rotate3d(0, 0, 1, 5deg);
	}
	80% {
		transform: rotate3d(0, 0, 1, -5deg);
	}
	to {
		transform: rotate3d(0, 0, 1, 0deg);
	}
}